/*  breacktpoint - 320px*/
/*  breacktpoint - 560px*/
/*  breacktpoint - 768px*/


.menu-btn{
  display: none;
}

/* ===================breackpoint-1140px=================== */

@media screen and (max-width: 1140px) {
 
  
  .main-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    }

    .main-img{
      width: 100%;s
    }
    .abou-inner{
      grid-gap: 20px;
      grid-template-columns: 1fr 2fr;
    }
    .gallery__item-inner{
      grid-template-columns: repeat(2, 1fr);
    }
    .gallery__item-img{
      width: 100%;
    }
    .info-box{
      padding: 50px 20px;
    }
    .info-item {
    grid-template-columns: repeat(3, 1fr);
  }
} 
/* ===================breackpoint-1140px=================== */
/* ===================breackpoint-990px=================== */
@media screen and (max-width: 990px) {
  .popular-item{
    grid-gap: 10px;
  }
  .popular-link{
min-height: 200px;
  }
  .booking-section {
    padding: 50px 20px; 
}
.booking-input{
    width: 100%;
  }
}
/* ===================breackpoint-990px=================== */
/* ===================breackpoint-860px=================== */
@media screen and (max-width: 860px){
  .footer{
    padding: 50px 0;
  }
  .footer-logo{
    margin-bottom: 40px;
  }
  .footer-block{
    display: block;
    text-align: center;
  }
  .footer-info{
    margin: 0 auto 25px; 
  }

}
/* ===================breackpoint-860px=================== */
/* ===================breackpoint-768px=================== */
@media screen and (max-width: 768px) {
  .header-phone span{
    display: none;
     margin-left: 0;
  }

  .travel-info-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.popular-link:nth-child(3),
.popular-link:nth-child(6){
  grid-column: auto;
  grid-row: auto;
}
.popular-item {
  grid-template-columns: repeat(2, 1fr);
}
.popular-link{
  min-height: 320px;
}
.map{
  padding: 50px;
}

.map-iframe{
  height: 400px;
}
.about{
  padding: 50px 0;
}
  .abou-inner{
    grid-gap: 2px;
    grid-template-columns: 1fr;
  }
  .about-popup{
    min-height: 400px;
  }
     .slider-top {
  
  margin-bottom: 20px;
  padding-right: 60px;
}
.slider{
 padding-bottom: 50px;
}
.info-box{
  column-count: 1;
  padding: 24px 10px;
}
.info-title{
  margin-bottom: 35px;
  font-size: 24px;
}
 .info-item {
    grid-template-columns: repeat(2, 1fr);
  }

  
  .booking-label{
    margin-top: -200px;
    margin-left: 50px;
    width: 100%;
  }
  
}
/* ===================breackpoint-768x=================== */
/* ===================breackpoint-560px=================== */
@media screen and (max-width: 568px) {


  .logo{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .header-top{
    /* justify-content: center; */
   
  }
  .header-phone-number{
 
     margin-left: 0;
  }

  .menu{
    border: none;
  }

  .menu-btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    background: transparent;
    position: absolute;
    top: 108px;
    right: 10px;
}

.menu-btn::before,
.menu-btn::after{
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  background: #fff;
}
.menu-btn::before{
  top: 0;
}
.menu-btn::after{
  bottom: 0;
}


.menu-btn span{
  
  display: block;

  height: 2px;
  background: #fff;
  

}

.menu-list{
  transform: translateY(-200%);
  display: block;
  padding: 10px 0;
  background-color: #886239;
  position: absolute;
 left: 0;
 right: 0;
}

.menu-list.menu-list-active{
  transform: translateY(0%);
  transition: all 0.5s;
}

.menu-item{
  display: block;
  padding: 10px;
   text-align: center;
   /* cursor: pointer; */
}

  .header-title{
    font-size: 50px;
  }

  .main{
    padding: 50px 0;
  }

  .main-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    grid-gap: 10px;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    }
       .travel-info-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.travel-info-item {
  text-align: center;
  /* margin-bottom: 20px; */
}
.gallery__item-inner{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }

 

   .slider-top {
 display: block;
 text-align: center;
}
  .info-item {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
/* ===================breackpoint-560px=================== */
/* ===================breackpoint-425px=================== */
@media screen and (max-width: 425px){
  .popular {
  padding: 50px 0;
  
}
  .popular-item {
  grid-template-columns: repeat(1, 1fr);
}
.about-popup{
    min-height: 250px;
  }
}

/* ===================breackpoint-425px=================== */

/* ===================breackpoint-320px=================== */
@media screen and (max-width: 320px) {
  .menu{
    /* display: none; */
  }



 .header-title{
   font-size: 34px;
   color: rgba(255, 255, 255, .8);
 }
  
  .main-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  
    grid-gap: 10px;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    }
    .travel-info-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}
.travel-info-tite {
  font-size: 20px;
  font-weight: 700;
}
.travel-info-item {
  text-align: center;
  margin-bottom: 20px;
}
.travel-info-img {
margin-bottom: 0;
}
.travel-info-text{
  font-size: 18px;
  font-weight: bold;
}
.booking-label{
    margin-top: -218px;
    
  }

}
/* ===================breackpoint-320px=================== */
