*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
/* or 28px */
  color: #1F1E1E;
}

a{
  text-decoration: none;
  color: inherit;
}

/* ================= header ================ */

.container{
 max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.list {
  list-style:none;
}
.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;

  text-align: center;
}

.header {
  background-image: url(../images/backgraund.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
 
}
.header-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 30px;


}
.logo {
}
.logo-img {
}
.header-phone {
  font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 130% */
/* белый */
color: #FFFFFF;
}
.header-phone-number {

  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
  padding: 12px 30px;
  background: #886239;
  border-radius: 22px;
  /* or 21px */
  /* белый */

  color: #FFFFFF;
}
.menu {
  width: 100%;
  margin-top: 15px;
  padding: 24px 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
 
}
.menu-list {
   display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #FFFFFF;
}
.menu-item {
}
.menu-link {
}
.header-title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  text-align: center;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  color: #FFFFFF;
  
}
.header-content {
}
.header-descript {
  max-width: 440px;
  font-weight: bold;
font-size: 20px;
margin-bottom: 20px;
}
.header-btn {
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 20px;
  font-size: 18px;
line-height: 21px;
color: #FFFFFF;
  background: #886239;
border-radius: 30px;
}
.header-arrow {
 text-align: center;
 margin-bottom: 15px;
}
.header-arrow-link {
  
}
.header-arrow-img {
  
}

/* ================= header ================ */

/* ================= galery-list ================ */

.main {
  padding: 100px 0;
}
.container {
}
.mein-nav {
}
.main-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  
}
.main-item {
 
}
.main-link {
}
.main-img {
  display: block;
}
.text-content {
  padding: 12px 18px 14px;
  font-size: 16px;
line-height: 19px;
border: 1px solid #D9D9DE;
border-top: none;

}
/* ================= galery-list ================ */
/* ================= trave-info-section ================ */
.travel-info {
  background-image: url(../images/travel-info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;

}
.travel-info-tite {
  margin-bottom: 50px;
  color: #FFFFFF;

}

.travel-info-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 56px 64px;
}
.travel-info-item {
  
}
.travel-info-img {
  margin-bottom: 14px;
}
.travel-info-text {

font-size: 16px;
line-height: 21px;

  color: #FFFFFF;
}

/* ================= trave-info-section ================ */

/* ================= popular ================ */

.popular {
  padding: 100px 0;
  
}
.container {
}
.container-outline {
}
.popular-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;

  /* черный */

  color: #1F1E1E;

}


/* ===============galery-link========== */
.popular-list {

}

.popular-item {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  border-bottom: 1px solid  #C4C4C4;;
 
}
.popular-link {
  padding: 16px 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  min-height: 256px;
  line-height: 130%;

  color: #FFFFFF;

}
.popular-link:nth-child(3),
.popular-link:nth-child(6){
  grid-column: span 2;
  grid-row: span 2;
}

.popular-title-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 15px;
  text-align: start;
  /* or 31px */
  /* белый */

  color: #FFFFFF;
}
.popular-text {
  font-weight: bold;
  font-size: 16px;

/* identical to box height, or 21px */
/* белый */
margin-top: auto;

color: #FFFFFF;
}

.popular-country,
.popular-time{
  margin-bottom: 15px;
  
}

/* .container-outline{
  background-color: rgb(154, 228, 197);
  outline: 3px solid rgb(0, 183, 255);
} */
/* ================= popular ================ */

/* =====================map============================= */
.map {
  padding: 100px 0;
}

.map-title {
  margin-bottom: 46px;
}

.map-iframe {
  margin-bottom: 100px;
}

/* ===================about========================= */

.about {
}

.about-content {
}
.about-title {
}

.about-text {
}
.about-link {
}
.about-popup {
}

