*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
/* or 28px */
  color: #1F1E1E;
}

a{
  text-decoration: none;
  color: inherit;
}

/* ================= header ================ */

.container{
 max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}
.list {
  list-style:none;
}
.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;

  text-align: center;
}

.header {
  background-image: url(../images/backgraund.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
 
}
.header-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px 0 30px;


}
.logo {
}
.logo-img {
}
.header-phone {
  font-weight: bold;
font-size: 16px;
line-height: 21px;
/* identical to box height, or 130% */
/* белый */
color: #FFFFFF;
}
.header-phone-number {

  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  margin-left: 20px;
  padding: 12px 30px;
  background: #886239;
  border-radius: 22px;
  /* or 21px */
  /* белый */

  color: #FFFFFF;
}
.menu {
  width: 100%;
  margin-top: 15px;
  padding: 24px 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
 
}
.menu-list {
   display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #FFFFFF;
}
.menu-item {
}
.menu-link {
}
.header-title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  text-align: center;
  margin-bottom: auto;
  font-weight: 700;
  font-size: 90px;
  line-height: 130%;
  color: #FFFFFF;
  
}
.header-content {
}
.header-descript {
  max-width: 440px;
  font-weight: bold;
font-size: 20px;
margin-bottom: 20px;
}
.header-btn {
  display: inline-block;
  padding: 12px 30px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #886239;
  border-radius: 30px;
}
.header-arrow {
 text-align: center;
 margin-bottom: 15px;
}
.header-arrow-link {
  
}
.header-arrow-img {
  
}

/* ================= header ================ */

/* ================= galery-list ================ */

.main {
  padding: 100px 0;
}
.container {
}
.mein-nav {
}
.main-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
  
}
.main-item {
 
}
.main-link {
}
.main-img {
  display: block;
}
.text-content {
  padding: 12px 18px 14px;
  font-size: 16px;
line-height: 19px;
border: 1px solid #D9D9DE;
border-top: none;

}
/* ================= galery-list ================ */
/* ================= trave-info-section ================ */
.travel-info {
  background-image: url(../images/travel-info.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 30px 0 50px;

}
.travel-info-tite {
  margin-bottom: 50px;
  color: #FFFFFF;

}

.travel-info-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 56px 64px;
}
.travel-info-item {
  
}
.travel-info-img {
  margin-bottom: 14px;
}
.travel-info-text {

font-size: 16px;
line-height: 21px;

  color: #FFFFFF;
}

/* ================= trave-info-section ================ */

/* ================= popular ================ */

.popular {
  padding: 100px 0;
  
}
.container {
}
.container-outline {
}
.popular-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;

  /* черный */

  color: #1F1E1E;

}


/* ===============galery-link========== */
.popular-list {

}

.popular-item {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
  border-bottom: 1px solid  #C4C4C4;;
 
}
.popular-link {
  padding: 16px 24px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
  min-height: 256px;
  line-height: 130%;

  color: #FFFFFF;

}
.popular-link:nth-child(3),
.popular-link:nth-child(6){
  grid-column: span 2;
  grid-row: span 2;
}

.popular-title-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 15px;
  text-align: start;
  /* or 31px */
  /* белый */

  color: #FFFFFF;
}
.popular-text {
  font-weight: bold;
  font-size: 16px;

/* identical to box height, or 21px */
/* белый */
margin-top: auto;

color: #FFFFFF;
}

.popular-country,
.popular-time{
  margin-bottom: 15px;
  
}

/* .container-outline{
  background-color: rgb(154, 228, 197);
  outline: 3px solid rgb(0, 183, 255);
} */
/* ================= popular ================ */

/* =====================map============================= */
.map {
  padding: 100px 0;
}

.map-title {
  margin-bottom: 46px;
}

.map-iframe {
  margin-bottom: 100px;
}

/* ===================about======================== */

.about {
  padding-bottom: 100px;


  outline: 1px solid gray;
}

.abou-inner{
  display: grid;
  grid-template-columns: 448px 640px;
  grid-gap: 32px;
}

.about-content {
}
.about-title {
  text-align: left;
  margin-bottom: 25px;
}

.about-text {
  margin-bottom: 34px;
}
.about-link {
  font-size: 16px;
line-height: 19px;

/* identical to box height */

text-decoration-line: underline;

/* серый */
color: #C4C4C4;
}
.about-popup {
  background-image: url(../images/Rectangle\ 45.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =====================slider-section=================== */
.slider {

  padding: 50px 0 100px;
  background: #886239;
  color: #FFFFFF;
}

.slider-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
  padding-right: 160px;
}
.slider-title {
  
}

.slider-link {
  font-size: 16px;
line-height: 19px;
/* identical to box height */

text-decoration-line: underline;

}
.gallery__slider {
}
.gallery__item {
}
.gallery__item-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px;
}
.gallery__item-link {
}
.gallery__item-img {
}


/* ===================info-section================== */

.info {
  padding: 100px 0;
  
  
}
.info-title{
  margin-bottom: 70px;
}

.info-box {
  column-count: 2;
  column-gap: 46px;
  border-bottom: 1px solid #D9D9DE;
  padding-bottom: 50px;
  margin-bottom: 44px;
}
.info-text {
  margin-bottom: 15px;
  font-size: 18px;
line-height: 140%;
  
}
.info-text-bold {
  text-transform: uppercase;
  font-weight: bolder;
}

/* info_results */
.tur-info {
}

.info-item {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 70px;
  text-align: center;
}
.info-item-number {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 58px;
  line-height: 75px;

  color: #886239;
}
.info-item-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  /* or 26px */
  /* черный */
  color: #1F1E1E;
}
/* ===================info-section================== */

/* ==================booking-section================== */
.booking-section {
  padding: 75px 0;
  background: #EAEAEA;
}

.booking-title {
  margin-bottom: 43px;
}

.booking-form {
  max-width: 832px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.booking-input {
  width: 256px;
  height: 44px;
  padding: 11px 14px;
  margin-bottom: 28px;
  border: 1px solid #D9D9DE;
}
.booking-input::placeholder
.booking-area::placeholder{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 21px;

  color: #C4C4C4;
}


.booking-area {
  width: 100%;
  height: 112px;
  padding: 14px;
  border: 1px solid #D9D9DE;
  resize: none;
  margin-bottom: 64px;
}
.booking-btn {
  
  padding: 20px 65px;

  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background: #886239;
  border: none;
  outline: none;
  border-radius: 30px;
}
.booking-label {
  display: flex;
  align-items: center;
  font-size: 16px;
line-height: 21px;
/* or 21px */
  text-decoration: underline;
}
.booking-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  padding-left: 45px;
}
.bookin-checkbox-style{
  position: absolute;
  width: 26px;
  height: 26px;
  border: 2px solid #C4C4C4;
  border-radius: 2px;
  margin-left: -45px;
}

.booking-checkbox:checked + .bookin-checkbox-style::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color:#a9d8ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* ==================booking-section================== */

/* <!-- ================<footer></footer>============ --> */

.footer {
  padding: 80px 0;
  background: #1F1E1E;
}
.footer-logo {
  margin-bottom: 70px;
  text-align: center;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  
  max-width: 832px;
  margin: 0 auto;
  color: rgba(255, 255, 255, .8);
}
.footer-info {
  /* display: flex;
  flex-direction: column; */
  width: 225px;
}
.footer-title {
  margin-bottom: 7px;
  font-weight: 700;
  color: #FFFFFF;
}
.footer-copi {

  margin-bottom: 3px;
  
}
.footer-copirait-link {
  text-decoration: underline;
  
}
.footer-adres {
  
}
.footer-tel {
  
}
.footer-mail {
 
}

/* <!-- ================<footer></footer>============ --> */